<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Shubham Singh</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- Stylesheets -->
	
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	
	<link href="/static/css/ionicons.css" rel="stylesheet">
	
	<link href="/static/css/fluidbox.min.css" rel="stylesheet">
	
	<link href="/static/css/cv-portfolio/css/styles.css" rel="stylesheet">
	
	<link href="/static/css/cv-portfolio/css/responsive.css" rel="stylesheet">
	
</head>
<body>
	
	<header>
		<div class="container">
			<div class="heading-wrapper">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="fa fa-map-marker"></i>
							<div class="right-area">
								<h5>Plot A, Elegance Residency</h5>
								<h5>Gandhinagar,GJ 382355</h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="fa fa-phone"></i>
							<div class="right-area">
								<h5>337-4139538</h5>
								<h6>MIN - FRI,8AM - 7PM</h6>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="fa fa-comments"></i>
							<div class="right-area">
								<h5>shubham.singh1@protonmail.com</h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
				</div><!-- row -->
			</div><!-- heading-wrapper -->
			
			<a class="downlad-btn" href="#">Download CV</a>
		</div><!-- container -->
	</header>
	
	<section class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-lg-2"></div>
				<div class="col-md-10 col-lg-8">
					<div class="intro">
						<div class="profile-img"><img src="/static/images/portfolio-1-600x400.jpg" alt=""></div>
						<h2><b>Shubham Singh</b></h2>
						<h4 class="font-yellow">Programmer and Tech enthusiast</h4>
						<ul class="information margin-tb-30">
						</ul>
						<ul class="social-icons">
							<li><a href="https://www.reddit.com/user/ShubhamSingh15"><i class="fa fa-reddit"></i></a></li>
							<li><a href="https://github.com/ShubhamSingh20/"><i class="fa fa-github"></i></a></li>
							<li><a href="https://www.linkedin.com/in/shubham-s-576815b0/"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-pencil"></i></a></li>
						</ul>
					</div><!-- intro -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
    </section><!-- intro-section -->
    
	<section class="portfolio-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Portfolio</b></h3>
						<h6 class="font-lite-black"><b>MY WORK</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<div class="portfolioFilter clearfix margin-b-80">
						<a href="#" data-filter="*" class="current"><b>ALL</b></a>
						<a href="#" data-filter=".web-design"><b>WEB BASED</b></a>
						<a href="#" data-filter=".branding"><b>NATIVE APPLICATIONS</b></a>
						<a href="#" data-filter=".graphic-design"><b>ALGO & DATA STRUCTURE</b></a>
					</div><!-- portfolioFilter -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
		<div class="portfolioContainer">
			
			<div class="p-item web-design">
				<a href="images/portfolio-1-600x400.jpg" data-fluidbox>
					<img src="images/portfolio-1-600x400.jpg" alt=""></a>
			</div><!-- p-item -->
			<div class="p-item web-design">
				<a href="/static/images/portfolio-1-600x400.jpg" data-fluidbox>
					<img src="/static/images/portfolio-1-600x400.jpg" alt=""></a>
			</div><!-- p-item -->
			<div class="p-item graphic-design">
				<a href="/static/images/portfolio-1-600x400.jpg" data-fluidbox>
					<img src="/static/images/portfolio-1-600x400.jpg" alt=""></a>
			</div><!-- p-item -->
			<div class="p-item branding">
				<a href="/static/images/portfolio-1-600x400.jpg" data-fluidbox>
					<img src="/static/images/portfolio-1-600x400.jpg" alt=""></a>
			</div><!-- p-item -->
		</div><!-- portfolioContainer -->
		
	</section><!-- portfolio-section -->
	
	
	<section class="about-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>About me</b></h3>
						<h6 class="font-lite-black"><b>MY INTRO</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<p class="margin-b-50" align="justify">I am an undergrad student of Computer Engineering at Gujarat Technological University. 
					I have 3+ year of experience in developing applications using web based and native technologies. I have also worked as a freelance
					developer and help build software based solutions for multiple local businesses. Other than programming I have an immense
					interest for Music (especially metal genre 🎸) and anything Anime related. </p>
					
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- about-section -->
    
    <section class="skills-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 center-text">
					<div class="heading">
						<h3><b>Technical Skills</b></h3>
						<h6 class="font-lite-black"><b>I'M GOOD AT</b></h6>
					</div>
				</div><!-- col-sm-12 -->
			
				<div class="col-sm-12 col-md-6">
					<h4><b>HTML & CSS</b></h4>
					<h6 class="expert">EXPERT</h6>
					
					<p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
						quis consequat nulla effi citur at.</p>
						
					<div class="line-progress margin-b-20" data-prog-percent=".90"><div></div>
						<p class="progress-title"><b>HTML</b></p></div>
					
					<div class="line-progress margin-b-50" data-prog-percent=".85"><div></div>
						<p class="progress-title"><b>CSS</b></p></div>

				</div><!-- col-md-6 -->
				
				<div class="col-sm-12 col-md-6">
					<h4><b>GRAPHIC DESIGN</b></h4>
					<h6 class="expert">EXPERT</h6>
					
					<p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
						quis consequat nulla effi citur at.</p>
						
					<div class="line-progress margin-b-20" data-prog-percent=".97"><div></div>
						<p class="progress-title"><b>PHOTOSHOP</b></p></div>
					
					<div class="line-progress margin-b-50" data-prog-percent=".97"><div></div>
						<p class="progress-title"><b>ILLUSTRATOR</b></p></div>

                </div><!-- col-md-6 -->
               
            </div><!-- row -->
            
            <!--<div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="radial-prog-area margin-b-30">
                        <div class="radial-progress" data-prog-percent=".97">
                            <div></div>
                            <h6 class="progress-title">HTML5 & CSS3</h6>
                        </div>
                    </div>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="radial-prog-area margin-b-30">
                        <div class="radial-progress" data-prog-percent=".78">
                            <div></div>
                            <h6 class="progress-title">WEB DESIGN</h6>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="radial-prog-area margin-b-30">
                        <div class="radial-progress" data-prog-percent=".67">
                            <div></div>
                            <h6 class="progress-title">JAVA</h6>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="radial-prog-area margin-b-50">
                        <div class="radial-progress" data-prog-percent=".97">
                            <div></div>
                            <h6 class="progress-title">PHP</h6>
                        </div>
                    </div>
                </div>
            
            </div><!-- row -->
		</div><!-- container -->
    </section>

	<section class="blog-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 center-text">
					<div class="heading">
						<h3><b>Blog Posts</b></h3>
						<h6 class="font-lite-black"><b>POSTS FROM MY BLOG</b></h6>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="/static/images/portfolio-1-600x400.jpg" alt="">
  						<div class="card-body">
    						<h5 class="card-title">Card title</h5>
    						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    						<a href="#" class="btn btn-primary">Go somewhere</a>
  						</div>
					</div> 
				</div>
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="/static/images/portfolio-1-600x400.jpg" alt="">
  						<div class="card-body">
    						<h5 class="card-title">Card title</h5>
    						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    						<a href="#" class="btn btn-primary">Go somewhere</a>
  						</div>
					</div> 
				</div>
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="/static/images/portfolio-1-600x400.jpg" alt="">
  						<div class="card-body">
    						<h5 class="card-title">Card title</h5>
    						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    						<a href="#" class="btn btn-primary">Go somewhere</a>
  						</div>
					</div> 
				</div>
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="/static/images/portfolio-1-600x400.jpg" alt="">
  						<div class="card-body">
    						<h5 class="card-title">Card title</h5>
    						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    						<a href="#" class="btn btn-primary">Go somewhere</a>
  						</div>
					</div> 
				</div>
				
			</div>
		</div>
    </section>

	<!--<section class="experience-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Work Experience</b></h3>
						<h6 class="font-lite-black"><b>PREVIOUS JOBS</b></h6>
					</div>
				</div><
				<div class="col-sm-8">
				
					<div class="experience margin-b-50">
						<h4><b>JUNIOR PROJECT MANAGER</b></h4>
						<h5 class="font-yellow"><b>DESIGN STUDIO</b></h5>
						<h6 class="margin-t-10">MARCH 2015 - PRESENT</h6>
						<p class="font-semi-white margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
							quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
							eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
						<ul class="list margin-b-30">
							<li>Duis non volutpat arcu, eu mollis tellus.</li>
							<li>Quis consequat nulla effi citur at.</li>
							<li>Sed finibus aliquam neque sit.</li>
						</ul>
					</div>
					
					<div class="experience margin-b-50">
						<h4><b>WEB MASTER/WEB DEVELOPER</b></h4>
						<h5 class="font-yellow"><b>DESIGN & WEB STUDIO</b></h5>
						<h6 class="margin-t-10">APRIL 2014 - FEBRUARY 2015</h6>
						<p class="font-semi-white margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
							quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
							eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
						<ul class="list margin-b-30">
							<li>Duis non volutpat arcu, eu mollis tellus.</li>
							<li>Quis consequat nulla effi citur at.</li>
							<li>Sed finibus aliquam neque sit.</li>
						</ul>
					</div><
					
				</div>
			</div><
		</div>
		
	</section>-->
	
	<!--<section class="education-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Education</b></h3>
						<h6 class="font-lite-black"><b>ACADEMIC CAREER</b></h6>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="education-wrapper">
						<div class="education margin-b-50">
							<h4><b>MASTER DEGREE IN SCIENCE</b></h4>
							<h5 class="font-yellow"><b>UCLA - SCIENCE AND ENGINEERING</b></h5>
							<h6 class="font-lite-black margin-t-10">GRADUATED IN MAY 2010(2 YEARS)</h6>
							<p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
							quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
							eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
						</div>
						
						<div class="education margin-b-50">
							<h4><b>COURSE ON COMPUTER SCIENCE</b></h4>
							<h5 class="font-yellow"><b>NEW YORK PUBLIC UNIVERSITY</b></h5>
							<h6 class="font-lite-black margin-t-10">GRADUATED IN MAY 2009(6 MONTHS)</h6>
							<p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
							quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
							eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
						</div>
						
						<div class="education margin-b-50">
							<h4><b>GRADUATED VALEDICTERIAN</b></h4>
							<h5 class="font-yellow"><b>PUBLIC COLLEGE</b></h5>
							<h6 class="font-lite-black margin-t-10">GRADUATED IN MAY 2008(4 YEARS)</h6>
							<p class="margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
							quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
							eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>-->
	
	<section class="counter-section" id="counter">
		<div class="container">
			<div class="row">
			
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="400" data-count="3">0</span></b></h1>
						<h5 class="desc"><b>Courses Completed</b></h5>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="1400" data-count="25">0</span></b></h1>
						<h5 class="desc"><b>Projects Completed</b></h5>
					</div><!-- counter -->
				</div><!-- col-md-3-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="700" data-count="311">0</span></b></h1>
						<h5 class="desc"><b>Posts Written</b></h5>
					</div><!-- counter -->
				</div><!-- col-md-3-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="2000" data-count="0">0</span></b></h1>
						<h5 class="desc"><b>Github star</b></h5>
					</div><!-- margin-b-30 -->
				</div><!-- col-md-3-->
				
			</div><!-- row-->
		</div><!-- container-->
    </section><!-- counter-section-->
	
	<footer>
		<p class="copyright">
			Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
		</p>
	</footer>
	
	
	<!-- SCIPTS -->
	
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	
	<script src="/static/js/tether.min.js"></script>
	
	<script src="/static/js/bootstrap.js"></script>
	
	<script src="/static/js/isotope.pkgd.min.js"></script>
	
	<script src="/static/js/jquery.waypoints.min.js"></script>
	
	<script src="/static/js/progressbar.min.js"></script>
	
	<script src="/static/js/jquery.fluidbox.min.js"></script>
	
	<script src="/static/js/scripts.js"></script>
	
</body>
</html>